.button.button-assertive.btn-dark-purple {
  background-color: #db3737 !important;
}

.no-border {    
  border-radius: 0;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}
