#home-view {
  margin-left: 5% !important; }
  #home-view #home-logo #logo {
    width: 86%;
    margin: 57% 0 0 2%; }
  #home-view .home-buttons {
    position: absolute;
    bottom: 25px;
    width: 100%; }
  #home-view .login-button {
    background-color: #262262;
    color: white;
    width: 90%; }
  #home-view .singup-button {
    background-color: #686691;
    color: white;
    width: 90%; }
  #home-view .student-button {
    background-color: white;
    border-radius: 2px;
    border-color: #262262;
    color: #262262;
    width: 90%; }
  #home-view .tutor-button {
    background-color: white;
    border-radius: 2px;
    border-color: #686691;
    color: #686691;
    width: 90%; }
  #home-view .row {
    margin: 0 0 0 0; }
