#login-view {
  margin-bottom: 10px !important; }
  #login-view .spacer-5 {
    height: 5em; }
  #login-view .logo {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  #login-view .back-icon {
    color: #262262; }
  #login-view .input-underline {
    margin-bottom: 2em !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid lightgray !important;
    color: black !important;
    border-radius: 0 !important;
    width: 80% !important;
    margin-left: 10% !important; }
    #login-view .input-underline::-moz-placeholder {
      color: lightgray !important; }
    #login-view .input-underline::-ms-input-placeholder {
      color: lightgray !important; }
    #login-view .input-underline::-webkit-input-placeholder {
      color: lightgray !important; }
    #login-view .input-underline:focus {
      border-bottom: 2px solid #262262 !important;
      box-shadow: none !important; }
  #login-view .row {
    padding: 0px !important; }
  #login-view .login-unclicked {
    margin-top: 3em;
    margin-left: 10%;
    border-radius: 2px;
    border-color: #262262;
    background-color: white;
    width: 80%;
    color: #262262; }
  #login-view .login-clicked {
    margin-top: 3em;
    margin-left: 10%;
    border-radius: 2px;
    background-color: #262262;
    width: 80%;
    color: white; }
