#login-view{
  margin-bottom: 10px !important;
  
  .spacer-5 {
    height: 5em;
  }

  .logo {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .back-icon {
    color : #262262;
  }

  .input-underline {
    margin-bottom: 2em !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid lightgray !important;
    color: black !important;
    border-radius: 0 !important;
    width: 80% !important;
    margin-left: 10% !important;
    &::-moz-placeholder {
      color: lightgray !important;
    }
    &::-ms-input-placeholder {
      color: lightgray !important;
    }
    &::-webkit-input-placeholder {
      color: lightgray !important;
    }

    &:focus {
      border-bottom: 2px solid #262262 !important;
      box-shadow: none !important;
    }
  }

  .row {
    padding: 0px !important;
  }

  .login-unclicked {
    margin-top: 3em;
    margin-left: 10%;
    border-radius: 2px;
    border-color: #262262;
    background-color: white;
    width: 80%;
    color: #262262;
  }

  .login-clicked {
    margin-top: 3em;
    margin-left: 10%;
    border-radius: 2px;
    background-color: #262262;
    width: 80%;
    color: white;
  }
}
