<ion-view id="login-view">
  <ion-header-bar>
    <button ng-click="vm.goToHome()"><i class="icon ion-chevron-left back-icon"></i></button>
  </ion-header-bar>
  <ion-content padding="true" scroll="false">
    <img src="img/logo.png" class="logo">
    <div class="spacer-5"></div>
    <form class="list">
      <input type="text" class="form-control input-underline input-lg" placeholder="Email" ng-model="vm.user.user">
      <input type="password" class="form-control input-underline input-lg" placeholder="Contraseña" ng-model="vm.user.password">
      <button type="submit" ng-class="{'button login-unclicked' : !vm.clicked, 'button login-clicked' : vm.clicked}" ng-click="vm.logIn()" ng-disabled="list">LOG IN</button>
    </form> 
  </ion-content>
</ion-view>
