<ion-view id="signup-view">
  <ion-header-bar class="bar signup-header">
    <button class="button icon ion-ios-arrow-thin-left return-button" ng-click="vm.goToHome()"></button>
    <h1 class="title signup-header">Create User</h1>
  </ion-header-bar>
  <ion-content id="signup-view" scroll="false">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <div id="signup-logo">
          <img src="img/logo.png" id="logo"/>
        </div>
        <label class="'item item-input"
               ng-repeat="field in vm.slide1">
          <i class="icon {{field.icon}} placeholder-icon"></i>
          <input type="{{field.type}}" placeholder="{{field.holder}}"
                ng-trim="true" ng-model="vm.user[field.model]"></input>
          <i ng-show="{{field.model == 'password2'}}" ng-class="{'icon ion-ios-close-outline  placeholder-icon' : vm.user.password1 != vm.user.password2,
             'icon ion-checkmark  placeholder-icon' : vm.user.password1 == vm.user.password2}"></i>
        </label>
      </ion-slide-page>
      <ion-slide-page>
        <div id="signup-logo">
          <img src="img/logo.png" id="logo"/>
        </div>
        <label ng-class="{'item item-input item-select' : field.model == 'region' || field.model == 'career',
              'item item-input' : field.model != 'region' || field.model != 'career'}"
               ng-repeat="field in vm.slide2">
          <i class="icon {{field.icon}} placeholder-icon"></i>
          <input type="{{field.type}}" placeholder="{{field.holder}}"
                ng-trim="true" ng-model="vm.user[field.model]" {{field.readonly}}>
          </input>
          <select ng-model="vm.user.country">
            <option ng-repeat="country in field.options">{{country}}</option>
          </select>
        </label>
      </ion-slide-page>
      <ion-slide-page>
        <div id="signup-logo">
          <img src="img/logo.png" id="logo"/>
        </div>
        <div ng-repeat="field in vm.slide3">
          <div ng-class="{'item item-input item-select' : field.model == 'country', 'item item-input' : field.model != 'country'}">
            <i class="icon {{field.icon}} placeholder-icon"></i>
            <input type="text" placeholder="{{field.holder}}"
                   ng-trim="true" ng-model="vm.user[field.model]" readonly></input>
            <select ng-model="vm.user.country" ng-show="{{field.model == 'country'}}">
              <option ng-repeat="country in vm.countries">{{country}}</option>
            </select>
          </div>
          <div class="button-bar" ng-show="{{field.model != 'country'}}">
            <a ng-class="{'button button-small option-clicked' : vm.user.clickedOptions[$index * 2],
               'button button-small option-unclicked' : !vm.user.clickedOptions[$index * 2]}"
               ng-click="vm.optionClicked($index, 0)">{{field.options[0]}}</a>
            <a ng-class="{'button button-small option-clicked' : vm.user.clickedOptions[$index * 2 + 1],
              'button button-small option-unclicked' : !vm.user.clickedOptions[$index * 2 + 1]}"
               ng-click="vm.optionClicked($index, 1)">{{field.options[1]}}</a>
          </div>
        </div>
        <button class="button signup-button button-full" ng-click="vm.signUp()">Submit</button>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
