<ion-view id="signup-view">
  <ion-header-bar class="bar signup-header">
    <button class="button icon ion-ios-arrow-thin-left return-buttonwhite" ng-click="vm.goToHome()"></button>
    <h1 class="title signup-header">Create User</h1>
  </ion-header-bar>
  <ion-content id="signup-view" scroll="false">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <div id="signup-logo">
          <img src="img/logo.png" id="logo"/>
        </div>
        <label ng-class="{'item item-input' : field.model != 'country', 'item item-input item-select' : field.model == 'country'}"
               ng-repeat="field in vm.slide1">
          <i class="icon {{field.icon}} placeholder-icon"></i>
          <input type="{{field.type}}" placeholder="{{field.holder}}"
                ng-trim="true" ng-model="vm.user[field.model]"></input>
          <i ng-show="{{field.model == 'password2'}}" ng-class="{'icon ion-ios-close-outline  placeholder-icon' : vm.user.password1 != vm.user.password2,
             'icon ion-checkmark  placeholder-icon' : vm.user.password1 == vm.user.password2}"></i>
          <select ng-model="vm.user.country" ng-show="{{field.model == 'country'}}">
            <option ng-repeat="country in vm.countries">{{country}}</option>
          </select>
        </label>
      </ion-slide-page>
      <ion-slide-page>
        <div id="signup-logo">
          <img src="img/logo.png" id="logo"/>
        </div>
        <label ng-class="{'item item-input' : field.model != 'ib', 'item item-input item-select' : field.model == 'ib'}"
               ng-repeat="field in vm.slide2">
          <i class="icon {{field.icon}} placeholder-icon"></i>
          <input type="{{field.type}}" placeholder="{{field.holder}}"
                ng-trim="true" ng-model="vm.user[field.model]" {{field.readonly}}></input>
          <select ng-model="vm.user.ib" ng-show="{{field.model == 'ib'}}">
            <option>Yes</option>
            <option selected>No</option>
          </select>
        </label>
          <input type="text" placeholder="What are you looking for?" readonly></input>
          <div class="button-bar" ng-model="bar">
            <a ng-class="{'button option-clicked' : vm.isClicked(true), 'button option-unclicked' : !vm.isClicked(true)}"
               ng-click="vm.optionClicked(true)">Help with school</a>
            <a ng-class="{'button option-clicked' : vm.isClicked(false), 'button option-unclicked' : !vm.isClicked(false)}"
               ng-click="vm.optionClicked(true)">Help applying abroad</a>
          </div>
        <button class="button signup-button button-full" ng-click="vm.signUp()">Submit</button>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>