<ion-content scroll="false" id="home-view">
  <div id="home-logo">
    <img src="img/logo.png" id="logo"/>
  </div>
  <div class="home-buttons">
    <button class="button button-full button-royal no-margin no-border" ng-click="vm.goToCreateUser()" > LogIn </button>
    <div>
      <button class="button button-full button-royal" ng-click="vm.signUp()" > SignUp </button>
      <div class="row" ng-show="vm.showSignUp">
        <button class="button button-full button-royal" ng-click="vm.goToCreateUser(true)" > Students </button>
        <button class="button button-full button-royal" ng-click="vm.goToCreateUser(false)" > Tutors </button>
      </div>
    </div>
  </div>
</ion-content>
