#signup-view #signup-logo #logo {
  width: 86%;
  margin: 14% 0 10% 8%; }

#signup-view .signup-fields {
  border-color: gray; }

#signup-view .signup-header {
  background-color: #262262;
  color: white; }

#signup-view .signup-button {
  margin: 5% 0 0 3%;
  width: 94%;
  background-color: #262262;
  color: white; }

#signup-view .option-clicked {
  margin-top: 2px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #262262;
  color: white;
  font-size: 12px; }

#signup-view .option-unclicked {
  margin-top: 2px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border-color: #262262;
  color: #262262;
  font-size: 12px; }

#signup-view .return-button {
  background-color: #262262;
  border-color: white;
  color: white; }
