#home-view {
  margin-left: 5% !important;
  #home-logo {
    #logo {
      width: 86%;
      margin: 57% 0 0 2%;
    }
  }
  .home-buttons {
  	position: absolute;
  	bottom: 25px;
  	width: 100%;
  }

  .login-button {
  	background-color: #262262;
  	color: white;
  	width: 90%;
  }

  .singup-button {
  	background-color: #686691;
  	color: white;
  	width: 90%;
  }

  .student-button {
  	background-color: white;
  	border-radius: 2px;
    border-color: #262262;
    color: #262262;
    width: 90%;
  }

  .tutor-button {
 	background-color: white;
  	border-radius: 2px;
    border-color: #686691;
    color: #686691;
    width: 90%;
  }

  .row {
  	margin: 0 0 0 0;
  }
}
